<ol class='breadcrumb'>
  <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
  <li>{{#link-to 'project' project}}{{project.name}}{{/link-to}}</li>
  <li class='active'>Edit Ticket</li>
</ol>
<legend>Edit Ticket #{{id}}</legend>
{{partial "ticket/form"}}
