<div id="wrap">
  <div class="container">
    <h1>TicketApp</h1>
      {{outlet}}
      {{outlet "modal"}}
  </div>
</div>
<footer id="footer">
  <div class="container">
    <p class="text-muted credit">Copyright © {{currentYear}} TicketApp.</p>
  </div>
</footer>
