/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

html,
body {
  height: 100%;
}

.application {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.ticket-heading { float: left; width: 100%; }
.comment { float: left; width: 100%; border-top: 1px solid #eee; }
.remove-comment { float: right; padding: 8px 0; }

legend.subheading { font-size: 16px; }
a.gray-icon, a.gray-icon:hover { color: #777; }
a.gray-icon:hover { color: #333; }

.label-low { background-color: #5bc0de; }
.label-medium { background-color: #f0ad4e; }
.label-high { background-color: #d9534f; }

.label-open { background-color: #428bca; }
.label-in_progress { background-color: #777; }
.label-ready_for_review { background-color: #5bc0de; }
.label-resolved { background-color: #5cb85c; }
.label-closed { background-color: #d9534f; }

/* Normal styles for the modal */
#modal {
  z-index: 9999;
	background:#fff;
	left:50%;
	margin:-250px 0 0 -25%;
	position:absolute;
	width:50%;
	border-radius:5px;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	-moz-box-shadow:0 3px 7px rgba(0,0,0,.25);
	-webkit-box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#modal header, #modal footer {
	background:#f7f7f7;
	border-bottom: 1px solid #e7e7e7;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}
#modal footer {
  float: left;
  width: 100%;
  border:none;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
#modal section,#modal header, #modal footer {
	padding:15px;
	z-index:200;
}
#modal label {
  margin-right: 10px;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
