<ol class='breadcrumb'>
  <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
  <li>{{#link-to 'project' project}}{{project.name}}{{/link-to}}</li>
  <li class='active'>New Ticket</li>
</ol>
<legend>New Ticket</legend>
{{partial "ticket/form"}}
